{% extends "main.html" %}
{% block main %}
{% load staticfiles %}
    <!-- Page Heading -->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Daftar Produk <!--<small>Statistics Overview</small>-->
                        </h1>
                    </div>
                </div>
			<!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
              <div class="table-responsive">
                       {% if produk %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Kategori</th>
                                        <th>Nama Produk</th>
                                        <th>Deskripsi</th>
                                        <th>Harga</th>
                                        <th>Keterangan</th>
                                        <th>Gambar</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% for produk in produk %}
                                    <tr>
                                        <td>{{ produk.kategori }}</td>
                                        <td>
					{% for group in user.groups.all %}
			             		{% if group.name == 'admin' %}

						<a href="{% url 'edit-produk' produk.id %}">{{ produk.nama_produk }}</a>
						{% else %}
							{{ produk.nama_produk }}
						{% endif %}

					{% endfor %}

					</td>
                                        <td>{{ produk.deskripsi }}</td>
                                        <td>{{ produk.harga }}</td>
                                        <td>{{ produk.keterangan }}</td>
                                        <td>{{ produk.gambar }}</td>
                                    </tr>
                                {% endfor %}
				</tbody>
                            </table>
                            {% else %}
                                <strong>No produk inputted yet.</strong>
                            {% endif %}
		{% for group in user.groups.all %}
             		{% if group.name == 'admin' %}
			  <a href="{% url 'input-produk' %}"><button class="btn btn-danger"> Input Produk </button></a>
			{% endif %}
		{% endfor %}
                                
                        </div>

        </div>
    </div>

{% endblock %}
